$primary-color: #64a8e0;
$secondary-color: #5bc576;
$background-color: #f5f5f5;

$base-size: 16px;
$padding-size: $base-size * 1.25;
$border-radius-size: $base-size * 0.625;

@mixin tarjeta($bg-color, $padding: $padding-size) {
    background-color: $bg-color;
    padding: $padding;
    border-radius: $border-radius-size;
    box-shadow: 0 ($base-size * 0.125) ($base-size * 0.313) rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.cards {
    background-color: $primary-color;
    max-width: $base-size * 60;
    margin: 0 auto;
    padding: $padding-size;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $padding-size;
}

.card {
    @include tarjeta($primary-color);
    color: white;
}

.card.secundaria {
    @include tarjeta($secondary-color, $padding-size * 1.1);
    color: white;
}

.card.terciario {
  @include tarjeta($secondary-color, $padding-size * 1.1);
  color: white;
}

.card.cuarto {
  @include tarjeta(#e0adad, $padding-size * 1.1);
  color: white;
}