.box {
  background-color: #64a8e0;
  padding: 36px;
  text-align: center;
  width: 480px;
  color: white;
}
.secundaria {
  background-color: #5bc576;
  padding: 36px;
  text-align: center;
  width: 360px;
  color: white;
}
